.calculo_preco {
    width: 340px;
    height: 340px;
    border: #C33A32 solid;
    margin: 0 auto;
    margin-top: 1cm;
    font-weight: bold;
    text-align: center;
  }
  
.texto_calc1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #C33A32;
}

.texto_calc2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: #C33A32;
    
}

.seta_para-baixo{
    align-items: center;
    font-size: 50px;
    color: #C33A32;
}
  
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #dedede;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #C33A32;
    margin-top: 25px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 15px;
    margin-top: 300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#fechar_parte_financiamento{
    background: none;
    border: none;
    font-size: 30px;
    float: right;
    padding: 0px 0px 0px 0px;

}
#fechar_parte_financiamento:hover{
    color: #8f7f7f;
}

.caixa_financiamento{
    border: solid;
    position: absolute;
    top: 33%;
    left: 10%;
    padding: 27px;
    margin-top: -122px;
    height: 370px;
    width: 356px;
    background-color: #dedede;
    border-radius: 15px;
    border-color: #c14141;
}

fieldset{
    border: 3px solid #c14141;
}

.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #c14141;
}
        
.btn_calcular {
    background-color: #c14141;
    border: none;
    color: white;
    padding: 15px 122px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
  }

  .calcular_finaciamento {
    background-color: #c14141;
    border: none;
    color: white;
    padding: 15px 122px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
  }

  .calcular_finaciamento:hover{
    background-color: #c14141;
    opacity: 0.8;
  }


  .btn_calcular:hover{
    background-color: #c14141;
    opacity: 0.8;
  }


  main.seccoes {
    display: flex;
    padding: 32px;
    margin-top: 750px;
    justify-content: center;
    visibility: hidden;
}

main.seccoes section.parte {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.seccoes section.parte:first-child {
    margin-left: 0;
}

main.seccoes section.parte .icon {
    width: 64px;
    height: 64px;
}

main.seccoes section.parte img {
    width: 100%;
}

main.seccoes section.parte h3 {
    font-size: 35px;
    margin: 16px 0;
    letter-spacing: 1px;
    color: #c14141;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main.seccoes section.parte span {
    max-width: 240px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #c14141;
    letter-spacing: 1px;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.textTip3{
    font-size: 16px !important;
    font-weight: normal !important;
}

#area-util-im_1, #area-util-im_2, #area-util-im_3{
    font-weight: 100;
    font-size: 16px;
}

#tipologia_1, #tipologia_2, #tipologia_3{
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
}

#garagem_1, #garagem_2, #garagem_3{
    font-weight: 100;
    font-size: 16px;
    
}

#transporte_1, #transporte_2, #transporte_3{
    font-weight: 100;
    font-size: 16px;
    
}

main.seccoes section.parte.zona1 {
    background: #dedede;
    border: 3px solid #c14141;
}
main.seccoes section.parte.zona2 {
    background: #dedede;
    border: 3px solid #c14141;
}
main.seccoes section.parte.zona3 {
    background: #dedede;
    border: 3px solid #c14141;
}

main.seccoes p{
    margin: 0 0;
    margin-right: auto;
    color: black;
    font-weight: bold;
}



.parte_seccao_zona1{
    visibility: hidden;
    text-align:  left;
}

.parte_seccao_zona2{
    visibility: hidden;
    text-align:  left;
}

.parte_seccao_zona3{
    visibility: hidden;
    text-align:  left;
}

.traco
{
    width: 75%;
    height: 0px;
    background-color: black;
    border: 1px solid black;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(195, 58, 50);
    content: '';
    display: inline-block;
    visibility: visible;
}


#parte_financiamento{
    
    width: 82em;
    height: 29em;
    margin-left: 18em;
    margin-top: -31em;
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    border-color: #000000;
}

#calcular_financiamento.btn_calcular_financiamento{
    background-color: #c14141;
    border: none;
    color: white;
    padding: 15px 122px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

.cartao_santander{
    background-color: #dedede;
    border: solid red;
    border-radius: 15px;
    width: 600px;
    height: 140px;
    visibility: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cartao_BPI{
    background-color: #dedede;
    border: solid red;
    border-radius: 15px;
    width: 600px;
    height: 140px;
    visibility: hidden;
    grid-row-start: 3;
    grid-row-end: 4;            
}

.cartao_BIC{
    background-color: #dedede;
    border: solid red;
    border-radius: 15px;
    width: 600px;
    height: 140px;
    visibility: hidden;
    grid-row-start: 2;
    grid-row-end: 3;
}

#img_cartao{
    width: 20%;
}
#img_santander img{
    width: 25%;
    object-fit: scale-down;
    padding-top: 37px;
    margin: 15px;
}

#img_BIC img
{
    width: 22%;
    object-fit: scale-down;
    padding-top: 40px;
    margin: 15px;
}

#img_BPI img
{
    width: 20%;
    object-fit: scale-down;
    padding-top: 10px;
    margin: -88px 15px -87px;
}
#cartao_informacoes{
    display: grid;
    align-items: center;
    width: 600px;
    justify-content: center;
    margin-top: 60px;
   
}

.spread
{
    width: 150px;
}

.titulo_santander{
    color: #c14242;
    margin-top: -90px;
    text-align-last: center;
}

.titulo_BIC{
    color: #c14242;
    margin-top: -90px;
    text-align-last: center;
}

.titulo_BPI{
    color: #c14242;
    margin-top: 0px;
    text-align-last: center;
}

.info_spread{
    margin: 0px;
    font-size: 20px;
}

.apartir_spread{
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    color: #8f7f7f;
}

.taxa
{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 104px;
}

.valor
{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 104px;
}

.oferta{
    grid-column-start: 4;
    grid-column-end: 5;
    width: 104px;
}

.grid-cartoes{
    display: grid;
    justify-content: end;
    justify-items: end;
    gap: 5px;
    margin-top: -88px;
}

.info_spread1{
    color: #c34242;
    padding: 10px 14px;
    border: solid;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.info_spread1:hover{
    background-color:#fac8c8; ;
}

@media (max-width: 1400px) {
    main.seccoes {
        flex-direction: column;
    }

    main.seccoes section.parte {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.seccoes section.parte:last-child {
        margin-bottom: 0;
    }

    main.seccoes section.parte button {
        font-size: 70%;
    }

}