*,
input {
  color: black;
  font-family: sans-serif;
  transition: 0.2s ease-in-out;
  user-select: none;
  overflow-x: hidden;
}
p,
label,
th,
td,
button {
  color: white;
}

body {
  background-color: #252a34;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
}
/*.nome_jogador*/
/*mensagem de empate*/

table {
  width: 50%;
  height: 50%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ff2e63;
}
