.titulo {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.titulo:hover {
  font-size: 4rem;
}

.subtitlo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
